a {
  /* word-spacing: 25px; */
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline;
  /* text-indent: 50px; */
}

code {
  padding: 2px 4px;
  color: #c0341d;
  border-color: #fbe5e1;
  background-color: #fbe5e1;
  border-radius: 4px;
}

h1.title,
p.subtitle,
p.author,
p.version,
p.classification,
p.institute,
p.classification_description
{
  padding-top: 25px;
  padding-bottom: 25px;
}

table{
    width: 100%;
}
th, tr.header{
    background-color: #111111;
    color: #ffffff;
}

blockquote{
  border-left:8px solid #0000ff;
  background-color: #eeeeee;
  color: #3c3c3c;
  vertical-align: text-top;
  padding: 5px;
  padding-left: 15px;
}

img{
  padding: 5px;
}


h1, #toc-title{
  page-break-before: always !important;
  padding-top: 25px;
}
/* h1, h2, h3, h4, h5, h6 {
    padding-top: 25px;
} */
header{
  text-align: center;
}

h1.title{
  page-break-before: avoid !important;
  font-size: xx-large;
  border-bottom: 0px solid #ffffff;
}

h1{
  font-size:24px;
  border-bottom:2px solid #ccc;
  color:#000
}

/* html,body{
  margin: 0;
  border: 0;
} */
